In [1]:
import pandas as pd

In [17]:
import numpy as np
#DecisionTreeRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [3]:
from sklearn.datasets import load_diabetes

In [4]:
dv = load_diabetes()

In [5]:
df = pd.DataFrame(data= dv.data,columns= dv.feature_names)

In [6]:
df.head()

        age       sex       bmi  ...        s4        s5        s6
0  0.038076  0.050680  0.061696  ... -0.002592  0.019908 -0.017646
1 -0.001882 -0.044642 -0.051474  ... -0.039493 -0.068330 -0.092204
2  0.085299  0.050680  0.044451  ... -0.002592  0.002864 -0.025930
3 -0.089063 -0.044642 -0.011595  ...  0.034309  0.022692 -0.009362
4  0.005383 -0.044642 -0.036385  ... -0.002592 -0.031991 -0.046641

[5 rows x 10 columns]

In [7]:
df['sugar'] = dv.target

In [8]:
df.head()

        age       sex       bmi        bp  ...        s4        s5        s6  sugar
0  0.038076  0.050680  0.061696  0.021872  ... -0.002592  0.019908 -0.017646  151.0
1 -0.001882 -0.044642 -0.051474 -0.026328  ... -0.039493 -0.068330 -0.092204   75.0
2  0.085299  0.050680  0.044451 -0.005671  ... -0.002592  0.002864 -0.025930  141.0
3 -0.089063 -0.044642 -0.011595 -0.036656  ...  0.034309  0.022692 -0.009362  206.0
4  0.005383 -0.044642 -0.036385  0.021872  ... -0.002592 -0.031991 -0.046641  135.0

[5 rows x 11 columns]

In [9]:
df.columns

Index(['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6', 'sugar'], dtype='object')

In [10]:
x = df[['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']]
y = df['sugar']

In [11]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size= 0.2,random_state= 23)

In [12]:
dtr = DecisionTreeRegressor()

In [13]:
dtr.fit(xtrain,ytrain)

DecisionTreeRegressor()

In [14]:
ypred = dtr.predict(xtest)

In [16]:
print(np.sqrt(mean_squared_error(ypred,ytest)))

86.37779573192186